{% extends "layout/base.html" %}
{% block content %}
  <div class="card border-primary">
    <div class="card-header bg-info border-primary">
      <h1 class="fs-4 mb-0">Honk about something.</h1>
    </div>
    <div class="card-body">
      <form method="post" class="mx-auto">
        {{ form.csrf_token }}
        <div class="mb-3">
          {{ form.content(class="form-control" + (" is-invalid" if form.content.errors else ""), rows=3, **{ 'aria-label': 'Write your honk' }) }}
          {% for error in form.content.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Honk</button>
      </form>
    </div>
  </div>
{% endblock %}
